@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  font-family: "Fredoka";
}

.green {
  color: #6CAC48;
}

.hide {
  display: none !important;
}

.title {
  text-align: center;
}

.heading {
  font-weight: 500;
  margin: 5rem 0rem;
  font-size: 40px;
}

.borderless {
  border: none !important;
}

.plants {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* margin: 1rem; */
  /* height: 380px; */
  justify-items: center;
  align-items: center;
}

.block {
  margin: 1rem;
  padding: 1rem 0.5rem;
  width: 160px;
  height: 160px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

img {
  width: 100px;
  margin: auto;
}

h6 {
  margin: 0.25rem;
  font-size: 15px;
  font-weight: 400;
}

.add-icon {
  margin: auto;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add {
  font-weight: 300;
  font-size: 40px;
}

.indivisual-plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plant-name {
  margin-bottom: 2rem;
  color: #6CAC48;
  text-align: center;
  font-size: 40px;
}

.type {
  margin: auto;
  margin-bottom: 1rem;
  border: none;
  background: #6CAC48;
  color: white;
  padding: 0.75rem;
  border-radius: 5px;
  font-size: 20px;
  width: 12rem;
}

.status {
  margin: auto;
  border: none;
  color: #6CAC48;
  background: white;
  padding: 0.75rem;
  border-radius: 5px;
  border: #6CAC48 1px solid;
  font-size: 20px;
  width: 12rem;
}

.select {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  width: 70vw;
  border-radius: 10px;
  background-color: white;
}

.option {
  margin: auto;
  padding: 1rem;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}

.back {
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.text {
  margin: 5rem 0rem 1rem 0rem;
  text-align: center;
  font-size: 30px;
}

.percent {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 25px;
}

.slide {
  display: flex;
  justify-content: center;
}

.slidecontainer {
  width: 70vw;
}

.slider {
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 50px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  border-radius: 50px;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #6CAC48; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #6CAC48; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
